*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataPicker{
  .cell:hover{
    border: 1px solid black!important;
  }
  .highlighted{
    background-color: darkseagreen!important;
    color: white;
  }
  .selected{
    background-color: cornflowerblue!important;
    color: white;
  }
  .today{
    background-color: darkred!important;
    color: white;
  }
}

.dataPicker__input{
  padding: 10px;
  border: 1px solid grey;
}